:root{
    --color-principal: #6B1E3A;
    --color-acento: #A03B60;
    --color-rosa-claro: #FDF0F3;
    --color-texto: #1E1621;
    --color-gris: #7A6E7D;
    --color-fondo: #FDF0F3;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: var(--color-fondo);
    padding: 40px;
}

.slide-content{
    margin: 0 40px;
    background-color: var(--color-fondo);
    overflow: hidden;
    border-radius: 25px;
   
}

.card{
    border-radius: 25px;
    background-color: white;
}

.image-content, 
.card-content{
    display: flex;
    flex-direction: column; /*una debajo de la otra*/
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{ /*esto está por encima de la card (pero no de la imagen)*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-acento);
    border-radius: 25px 25px 0 0;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%; /*si no quiero borde se puede borrar (img redonda)*/
    background-color: var(--color-rosa-claro);
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%; /*si no quiero borde se puede borrar (img redonda)*/
    border: 4px solid var(--color-acento);
}

.name{
    font-size: 18px;
    font-weight: 500; 
    color: var(--color-texto);
}
.description{
    font-size: 14px;
    color: var(--color-gris);
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: var(--color-rosa-claro); /*color de la tarjeta*/
    padding: 8px 16px;
    background-color: var(--color-acento);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: var(--color-principal); /*poner más oscuro que el botón*/
}

.swiper-navBtn{
    color: var(--color-acento);
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: var(--color-principal);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
/* */
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
/* los 3 puntitos del slider */
.swiper-pagination-bullet{
    background-color: var(--color-texto);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--color-acento);
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}