@font-face {
    font-family: "titulopixel";
    src: url(fonts/dogicapixelbold.otf);
}
@font-face {
    font-family:"pixel_fino" ;
    src: url(fonts/dogica.otf);
}
@font-face {
    font-family: "minecraft";
    src: url(fonts/minecraft.ttf);
}
@font-face {
    font-family: "pixel_piscina";
    src: url(fonts/LLPIXEL3.ttf);
}
header, main, footer{
    width: 1000px;
    background: rgb(28, 91, 118);
    margin: auto;
    padding: 15px;
}
body{
    background-image: url(img/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 14px;
    font-family:minecraft ;
    text-align: center;
    color:rgb(108, 180, 159);
}
/*--TÍTULOS--*/
h1{
    color:rgb(229, 173, 195);
    font-size: 70px;
    font-family:pixel_piscina;
    text-align: center;
    text-transform: uppercase;
    
}
h2,h3{
    color:rgb(229, 173, 195);
    font-family: titulopixel;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}
h4{
    color: rgb(108, 180, 159);
    font-family: titulopixel;
    font-size: 25px;
}
/*--BARRA NAVEGACIÓN--*/
nav ul{
    list-style-type:none;
    display:flex;
    gap:50px;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    color: rgb(108, 180, 159);
    font-family: minecraft;
    background-color: rgb(16, 47, 66);
    padding:10px;
    border-radius: 10%;
    font-size: 15px;
}
nav ul li a:hover{
    color: rgb(16, 47, 66);
    background-color: rgb(108, 180, 159);
}

/*--SOBRE MÍ--*/

/*--CONOCIMIENTOS--*/
#conocimientos{
    max-width: 1000px;
    font-size: 13px;
}
#conocimientos ul li{
    margin-bottom: 7px;
    list-style-type: square;
}
.categoria {
    display: flex;
    flex-wrap: wrap;   /* Para que bajen si no caben */
    justify-content: center; /* CENTRA las columnas */
    gap: 20px;
    margin-bottom: 30px;
}
.bloque{
    width: 200px;        /* O el ancho que quieras */
    text-align: center;  /* Para centrar la imagen y el texto */
    padding: 15px;
    background:rgb(16, 47, 66);
    border-radius: 10px;
}
.bloque img{
    width: 80px;
    margin-bottom: auto;
}
/*--PROYECTOS--*/
#proyectos{
    max-width: 1200px;
    margin: auto;
    margin-bottom:20px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;/*Esto era para que bajen a la siguiente línea si no caben*/
    gap: 20px; /* SOLUCIONAR: EL BORDE NO ES IGUAL????*/
}
#proyectos article{
    width: 30%;
    background:rgb(16, 47, 66) ;
    padding: 5px;
    border-radius: 10px;
}
#proyectos a{
    color:rgb(163, 57, 97);
    text-decoration: none;
}
#proyectos a:hover{
    color: rgb(229, 173, 195);
    font-size: 15px;
}
#proyectos article img{width: 150px;height: auto;margin-bottom: 10px;}
/*--CONTACTO--*/
#contacto{
    font-family:titulopixel;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
#contacto, #contacto a{
    color:rgb(108, 180, 159);
    font-size: 16px;
}
#contacto a:hover{
    color:rgb(229, 173, 195);
    font-size: 17px;
}