@font-face {
    font-family: "titulopixel";
    src: url(fonts/dogicapixelbold.otf);
}
@font-face {
    font-family:"pixel_fino" ;
    src: url(fonts/dogica.otf);
}
@font-face {
    font-family: "minecraft";
    src: url(fonts/minecraft.ttf);
}
@font-face {
    font-family: "pixel_piscina";
    src: url(fonts/LLPIXEL3.ttf);
}
header, main, footer{
    max-width: 1000px;
    width: 100%;
    background: rgb(28, 91, 118);
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
}
body{
    background-image: url(img/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 14px;
    font-family:minecraft ;
    color:rgb(108, 180, 159);
}
/*--TÍTULOS--*/
h1{
    color:rgb(229, 173, 195);
    font-size: 70px;
    font-family:pixel_piscina;
    text-align: center;
    text-transform: uppercase;
    
}
h2,h3{
    color:rgb(229, 173, 195);
    font-family: titulopixel;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}
h4{
    color: rgb(108, 180, 159);
    font-family: titulopixel;
    font-size: 25px;
    text-align: center;
}
/*--BARRA NAVEGACIÓN--*/
nav ul{
    list-style-type:none;
    display:flex;
    gap:50px;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    color: rgb(108, 180, 159);
    font-family: minecraft;
    background-color: rgb(16, 47, 66);
    padding:10px;
    border-radius: 10px;
    font-size: 15px;
}
nav ul li a:hover{
    color: rgb(16, 47, 66);
    background-color: rgb(108, 180, 159);
}
/*--SOBRE MÍ--*/
#sobremi{text-align: center;}
/*--CONOCIMIENTOS--*/
#conocimientos{
    max-width: 1000px;
    font-size: 13px;
}
#conocimientos ul{
    margin: 0; 
    padding: 0; 
    text-align: center;
}
#conocimientos ul li{
    margin-bottom: 7px;
    list-style-type: none;
}
/*#############################################*/
.categoria .bloque ul hr{
    border: 0; /*Esto es para quitar el borde gris*/
    border-top: 2px rgb(108, 180, 159);/* ARREGLAR COLOR DFHHHHHHHHHHHHHHHHHHHHHHHHHHH */
    margin: 4px 0; 
}
/*############################################*/
.categoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-bottom: 30px;
}
.bloque{
    flex: 1 1 250px;  
    max-width: 290px;    
    padding: 15px;
    background:rgb(16, 47, 66);
    border-radius: 10px;
    box-sizing: border-box;
}

.bloque img{
    width: 100px;
    height: 100px;
    object-fit: contain; /*para forzar que queden iguales*/
    display: block;
    margin: 0 auto 10px;
}
/*--PROYECTOS--*/
#proyectos{
    max-width: 1200px;
    margin: auto;
    margin-bottom:20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;/*Esto era para que bajen a la siguiente línea si no caben*/
    gap: 20px; /* SOLUCIONAR: EL BORDE NO ES IGUAL????*/
}
#proyectos article{
    flex: 1 1 250px; 
    max-width: 320px; 
    background:rgb(16, 47, 66);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
#proyectos article a{
    color:rgb(163, 57, 97);
    text-decoration: none;
    margin-top: auto;
}
#proyectos a:hover{
    color: rgb(229, 173, 195);
    font-size: 15px;
}
#proyectos article img{width: 150px;height: auto;margin-bottom: 10px;}
/*--CONTACTO--*/
#contacto{
    font-family:titulopixel;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
#contacto, #contacto a{
    color:rgb(108, 180, 159);
    font-size: 16px;
}
#contacto a:hover{
    color:rgb(229, 173, 195);
    font-size: 17px;
}